@tailwind base;
@tailwind components;
@tailwind utilities;

/* App.css */
@keyframes rotateToEnd {
  from {
    transform: rotate(-45deg);
  }
  to {
    transform: rotate(45deg);
  }
}

@keyframes rotateToStart {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(-45deg);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

*{
  font-family: "Alegreya", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}